@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

#aviso-movil-horizontal {
    display: none;
}

@media only screen and (orientation:portrait) {
    #aviso-movil-horizontal {
        display: block;
        color: blue;
        background-color: whitesmoke;
        text-align:left;
        padding: 20px;
        
    }
}

@media only screen and (orientation:landscape) {
    #aviso-movil-horizontal {
        display: none;
    }
}

body,
html {
    height: 100%;
    min-width: 1024px;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(22, 139, 235);
    font-size: 1rem;
}

#container{
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../img/fondo-mar.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../img/flag.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.ventana {
    width: 100%;
    height: 500px;
    text-align: center;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-size: 2.5rem;
}

#texto01 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-size:small; */
    font-size: 1.5 rem;
    text-align:left;
    margin: 1rem;
    border: 1px solid white;
    padding: 1.2rem;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.7);
    color: #1166a6;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    
}

#texto01 li {
    margin: 8px;
    
}

#start,
#restart {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    font-size: x-large;
    color: #1166a6;
    background-color: #edd64a;
    border-radius: 6px;
    border: 1px solid #edd64a; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#start:hover,
#restart:hover {
    cursor: pointer;
    background-color: #1166a6;
    color: #edd64a;
    transition: 0.5s;
}

#dibujo_1{
    width: 200px;
    height: 200px;
}
#dibujo_2 {
    width: 350px;
    height: 350px;
}

#flex-container-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#vidas, #puntos{
    width: 150px;
    text-align: center;
    color: #1166a6;
    font-size: 1.2rem;
    background-color: rgba(255,255,255,0.7);
    border-radius: 10px;
    margin: 10px 10px 0 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#contador_vidas img{
    height: 30px;
    width: 30px;
    padding:  5px 5px 0 5px;
}
#contador_puntos{
    font-size: 1.3rem;
}

#mapa {
    /* margin: 0 10px; */
    display: block;
}

#info {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

svg path,
polygon {
    fill: #2b9c0f;
    stroke: #eee;
    stroke-width: .25;
}

svg path:hover,
polygon:hover {
    fill: #006284;
    transition: 0.6s;
    cursor: pointer;
}

#pregunta {
    color: #d2eaf1;
    font-size: 1.5em;
    text-align: center;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#resultado_respuesta{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#correcto, #error {
    font-size: 1.5em;
    text-align: center;
    color: rgba(120, 139, 235,0.2);
    padding: 10px;
    border-radius: 10px;
}


#error_municipio {
    color: rgba(255, 0, 0, .5);
    font-size: 1em;
    text-align: center;
    padding-bottom: 10px;
    /* background-color : rgb(22, 139, 235); */
    color: rgba(0,0,0,0); 
}

#resultados{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#ventana_aciertos{
    width: 40%;
    margin: 10px;
    padding: 2%;
    color: green;
    background-color: rgba(255,255,255,0.7);
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#ventana_errores{
    width: 40%;
    margin: 10px;
    padding: 2%;
    color: red;
    background-color: rgba(255,255,255,0.7);
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


#total_puntos, #punt_max{
    font-size: 2em;
    padding: 10px;
    border-radius: 25px;
    background-color: burlywood;
    color: rgb(114, 114, 114);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

h3 {
   margin: 5px;
}
#mejor_puntuacion{
    text-align: center;
}

#boton_reset{
    margin:15px;
}

#reset{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 5px;
}

#reset:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 0.5s;
}