@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

#aviso-movil-horizontal {
    display: none;
}

@media only screen and (orientation:portrait) {
    #aviso-movil-horizontal {
        display: block;
        color: blue;
        background-color: whitesmoke;
        text-align: center;
        padding: 20px;
        
    }
}

@media only screen and (orientation:landscape) {
    #aviso-movil-horizontal {
        display: none;
    }
}

body,
html {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(22, 139, 235);
}

#container{
    height: 100%;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.ventana {
    width: 100%;
    height: 500px;
    text-align: center;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#texto01 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:small;
    width: 500px;
    text-align: center;
    margin: 20px;
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    color: #1166a6;
}

#texto01 p {
    margin: 8px;
    
}

#start,
#restart {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    font-size: x-large;
    color: #1166a6;
    background-color: #edd64a;
    border-radius: 6px;
    border: 1px solid #edd64a; 
}

#start:hover,
#restart:hover {
    cursor: pointer;
    background-color: #1166a6;
    color: #edd64a;
    transition: 0.5s;
}

#nenes_caminando,
#grupo_nenes {
    width: 150px;
    height: 150px;
}

#contador_vidas {
    height: 40px;
    padding: 10px;
}

#contador_vidas img{
    height: 40px;
    width: 40px;
    margin-right: 5px;
}

#mapa {
    margin: 10px;
    display: block;
}

#info {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

svg path,
polygon {
    fill: #2b9c0f;
    stroke: #eee;
    stroke-width: .25;
}

svg path:hover,
polygon:hover {
    fill: #006284;
    transition: 0.6s;
    cursor: pointer;
}

#pregunta {
    color: #d2eaf1;
    font-size: 2em;
    text-align: center;
}

#resultado_respuesta{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#correcto, #error {
    font-size: 1.5em;
    text-align: center;
    background-color : rgb(22, 139, 235);
    color: rgb(120, 139, 235);
    padding: 10px;
    border-radius: 10px;
}


#error_municipio {
    color: rgba(255, 0, 0, .5);
    font-size: 1em;
    text-align: center;
    padding-bottom: 20px;
    background-color : rgb(22, 139, 235);
    color: rgb(22, 139, 235); 
}

#resultados{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#ventana_aciertos{
    width: 45%;
    padding: 2%;
    color: green;
}

#ventana_errores{
    width: 45%;
    padding: 2%;
    color: red;
}

#puntos{
    color: #d2eaf1;
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
}

#total_puntos, #punt_max{
    font-size: 2em;
    padding: 10px;
    border-radius: 25px;
    background-color: burlywood;
    color: rgb(39, 39, 39);
    margin: 0 auto;
}

h3 {
   margin: 10px;
}
#mejor_puntuacion{
    text-align: center;
}

#boton_reset{
    margin:15px;
}

#reset{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 5px;
}

#reset:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 0.5s;
}